@model IEnumerable<Page>

@{
    ViewData["Title"] = "Pages";
}

<h3>Pages</h3>

<p>
    <a class="btn btn-primary" style="float:right" asp-action="Create">Create New Page</a>
</p>
<table class="table table-striped">
    <thead>
        <tr> 
            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            
            <td>
                <a class="btn btn-primary" asp-controller="Pages" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-primary" asp-controller="Pages" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if(item.Slug != "Home")
                {
                    <a class="confirmDeletion btn btn-primary" asp-controller="Pages" asp-action="Delete" asp-route-id="@item.Id">Delete</a>        
                }
            </td>
        </tr>
}
    </tbody>
</table>
